config/*
etc/*
middleware/*
*.log
*.prefs
tmp/logs/redecard/*
tmp/logs/cielo/*
tmp/logs/*.txt
tmp/templates_c/*
adm/produtos/XML/*
fc/areavip/cidades/*
.buildpath
.DS_Store
._.DS_Store
.project
.settings/*
src/.settings/*
tmp/import_cliente.php
tmp/logs/*
REVISION
/nbproject/
/b2c/.settings/
includes/javascript/min/*.js
.settings
XML
.grive_state
.idea/*

build_links_to_frontend.sh
buildLinks.sh